<!doctype html>
<html>
<head>
	<title>Микроблог</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<!-- подключаем программу на JS из отдельного файла -->
	<script src="script.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div id="app">	
	
		<div id="form" class="form-group mb-3">

			<textarea class="form-control mb-2" id="exampleFormControlTextarea1" v-bind:class="{ 'msg-error': isError }" @keydown.ctrl.enter="add()" v-model="newPost" autofocus id="message" rows="3" placeholder="Введите текст сообщения..."></textarea>
			<button class="btn btn-outline-primary btn-sm mr-1" @click="add()" id="ok">ОК</button>
			<button class="btn btn-outline-primary btn-sm" @click="hide()" id="cancel">Отмена</button>
		</div>
		<div id="blog" class="">
			<ul id="posts" class="">
			
				<li @dblclick="remove(index)" v-for="(post, index) in posts" class="bg-info card-body">
				<p class="m-2 bg-info card-text">{{ post }}</p>
			
				<button class="btn btn-outline-light btn-sm m-1" v-if="editKey!==index" @click="edit(index)">Изменить</button>

				<div v-if="editKey === index" id="edit-area">
					<textarea class="form-control m-1 p-1" id="exampleFormControlTextarea1" autofocus id="edit"v-model="editPostText"></textarea>
					<button class="btn btn-outline-light btn-sm m-2" @click="save()">Сохранить</button>
					<button class="btn btn-outline-light btn-sm m-2" @click="cancel()">Отмена</button>
				</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>